/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {
  height: 100%;
  text-align: center;
  background-color: #F6F6F6;
  color: #E7512D;
  overflow: hidden;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:focus,
.btn-default:hover {
  background-color: #E7512D;
}

.btn-default {
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
  border: 1px solid;
  border-color: #E7512D;
  color: #E7512D;
  background-color: transparent;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
*/
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.cover-heading {
  font-size: 80px;
  margin: 0px;
  display: inline-block;
  bottom: 0px;
  padding-right: 1px;
}

#tagline {
  font-size: 25px;
  font-style: italic;
}

.cover-heading-2-container {
  margin: 0px;
  display: inline-block;
  top: 0px;
  color: #F6F6F6;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.cover-heading-2 {
  margin: 0;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
