body { 
    padding-top: 65px; 
}

#pb-label {
	font-weight: bold;
}

#pb-row {
	margin-bottom: 25px;
}

#flashcardFace{
	height:200px;
	margin-right: auto;
	margin-left:auto;

}

.flashcardBox{
	border-color:black;
	margin-top:50px;
	margin-left:5%;
	margin-right:35%;
	height: 350px;
	box-shadow: 2px 2px 2px #000;
}

.flip{
	text-align:right;
	position:absolute;
	bottom:30px;
	right: 250px;
}

.hidden{
	opacity: 
}

#flashcardName {
	font-family:helvetica;
	font-weight:bold;
	text-align: center;
	font-size:3em;
}

.flashcardLearned{
	font-family:helvetica;
	font-style: italic;
	text-align:center;
	padding-top: 40px;
	padding-bottom: 15px;
	font-size: 1.2em;
}

.checkmark{
	padding-top:10px;
	height:75px;
}

.delete{
	padding-top:10px;
	height:75px;
	padding-left: 20px;
}

#flashcardProgress{
	text-align:right;
	position: absolute;
	bottom: 330px;
	right:250px;
}

.studentName{
	vertical-align: middle;
}


.greyOut{
	color:grey;
}

#picture_bank{
	width: 100px;
	float: left;
	margin-left: 20px;	
}

#seating_canvas{
	float: right;
	background-color: gray;
	opacity: 0.3;
	width: 1010px;
	height: 490px;
}

.seating_picture{
	width: 60px;
	height: 60px;
	padding: 5px;
}


#okButton{
	margin-top: 0px;
}

.quizHeading{
	font-family:helvetica;
	font-style: bold;
	text-align:center;
	padding-top: 30px;
	padding-bottom: 15px;
	font-size: 2em;
}
#createQuizQuestions{
	font-family:helvetica;
	margin-left: 30%;
	font-size: 1.2em;
}

#startNewQuizButton{
	margin:15px;
}

#restartQuizButton{
	margin-left: -15px;
}

#sideBar{
	float:right;
	margin-right: 10%;
	font-family:helvetica;
	width:20%;
	text-align: center;
}

#sideBarHeading{
	font-weight: bold;
	text-decoration: underline;
	font-size: 2em;
}

.sideBarProgress{
	font-size: 1.5em;
	padding-top: 18px;
} 

#endQuizButton{
	margin-top:10px;

}
