body { 
    padding-top: 65px;
    background-color: #F6F6F6;
}

/* NAVBAR */
.navbar-default {
    background: #E7512D;
}

.navbar-default .navbar-brand,
.navbar-default .dropdown .dropdown-toggle {
	color: #fff;
}

.navbar-default > .dropdown-toggle {
    color: #E7512D;
}


/* TOP ROW */
#top-row {
	margin: 25px;
}

/* TABS */
.nav-tabs > li > a {
    color: #E7512D;
    background-color: #CBCBC1;
    font-weight: bold;
} 
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #fff;
    background-color: #E7512D;  
    font-weight: bold;
} 

/* FILTERS */
.panel .panel-heading {
    color: #fff;	
    font-weight: bold;
    background: #E7512D;
}

.panel {
	border-color: #E7512D;
}


/* QUIZ MODE */
#flashcardFace {
	height:200px;
	margin-right: auto;
	margin-left:auto;
}

.flashcardBox {
	border-color:black;
	margin-top:50px;
	margin-left:5%;
	margin-right:35%;
	height: 350px;
	box-shadow: 2px 2px 2px #000;
}

.flip {
	text-align: right;
    padding-right: 50px;
    padding-bottom: 10px;
    position: inherit;
}

.hidden {
	opacity: ;
}

#flashcardName {
	font-family:helvetica;
	font-weight:bold;
	text-align: center;
	font-size:3em;
}

.flashcardLearned {
	font-family:helvetica;
	font-style: italic;
	text-align:center;
	padding-top: 40px;
	padding-bottom: 15px;
	font-size: 1.2em;
}


.checkmark{
	padding-top: 10px;
    height: 75px;
    padding-left: 20px;
}

.delete{
	padding-top:10px;
	padding-left:20px;
	height:75px;
    align-content: center; 
}

#flashcardProgress {
    
	text-align:right;
	position: absolute;
	bottom: 330px;
	right:350px;
}

/* ROSTER */
#faceTable {
	background-color: #fff;
}

.studentName {
    height: 70px;
    width: 60px;
    align-content: center; 
} 


.table > tbody > tr > td {
    vertical-align: inherit;
    font-size: 20px; 
    padding-left: 13px;
    
}


.greyOut {
	color:gray;
}

/* SEATING CHART */
#picture-bank {
	width: 15%;
	height: 600px;
	float: left;
	margin: 0px;
	background-color: #fff;
	border: px solid #B6AEA1;
}

.seating-picture {
	width: 45%;
	padding: 5px;
	margin-top: 5px;
}

#seating-area {
	display: inline-block;
	background-color: #B6AEA1;
	width: 85%;
	height: 600px;
	top:0;
	left:0;
	z-index: 1;
	position: relative;
}

#half-circle {
    width: 160px;
    height: 80px;

    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    border: 8px solid #E7512D;
    border-bottom: 0;

    margin: 0 auto;
    z-index: 5;
}

#half-circle-container {
    width: 100%;
    height: 80px;

    position: absolute;
    bottom:0;
}


#okButton{
	margin-top: 30px;
    width: 200px;
    height: 40px;
    font-size: 1.2em;
    font-weight: bold;
}

input[type=checkbox], input[type=radio] { 
    margin: 4px 0 0;
    margin-left: 21px;
    margin-top: 9px;
}

#five {
    
} 

#ten { 
    margin-left: 30px;
} 

#twenty{
    margin-left: 30px;
}



.quizHeading{
	font-family:helvetica;
	font-weight: bold;
	text-align:center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 2em;
}
#createQuizQuestions{
	font-family:helvetica;
	margin-left: 33%;
	font-size: 1.2em;
}

#startNewQuizButton{
	margin:17px;
	height:52px;
	width:176px;
	font-size: 1.5em;
}

#restartQuizButton{
	margin-left: -15px;
}

#sideBar{
	float:right;
	margin-right: 10%;
	font-family:helvetica;
	width:20%;
	text-align: center;
}

#sideBarHeading{
	font-weight: bold;
	text-decoration: underline;
	font-size: 2em;
}

.sideBarProgress{
	font-size: 1.5em;
	padding-top: 18px;
} 

#endQuizButton{
	margin-top:10px;

}
#circle {
	width: 40px;
	height: 40px;
	background: #E7512D;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	margin: 0 auto;
	margin-top: 10px;
	z-index: 5;
}

#triangle {
	width: 0;
	height: 0;
	border-top: 32px solid transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #E7512D;

	margin: 0 auto;
	z-index: 5;
}

.drag {
	position: relative;
}

#icon{
	height:55px;
}

