body { 
    padding-top: 65px;
    background-color: #F6F6F6;
    text-align: center;
    color: #72441E;
}

/* NAVBAR */
.navbar-default {
    background: #E7512D;
}

.navbar-default .navbar-brand,
.navbar-default .dropdown .dropdown-toggle {
	color: #fff;
}

.navbar-default > .dropdown-toggle {
    color: #E7512D;
}

.panel {
	margin-top: 50px;
}

.panel .panel-heading {
	text-align: left;
    color: #fff;	
    font-weight: bold;
    font-size: 20px;
    background: #E7512D;
}

.list-group-item {
	padding: 30px;
	text-align: left;
	font-weight: bold;
}

.row {
	height: 40px;
}

#profile-name {
	font-weight: bold;
	font-size: 40px;
	color: #72441E;
}

.progress-bar {
	background: #72441E;
	background-repeat: no-repeat;
}